# Ideia do Projeto Slot 3 - Setor Imobiliário

Case: A LOFT,

Empresa do ramo imobiliário Brasileiro, quer expandir sua área de atuação e fazer um investimento internacional. 

Devido a questões estratégicas, a empresa irá investir em imóveis no Condado de County, nos Estatos Unidos. 

Utilizando o dataset disponibilizado, você irá aplicar os conceitos de CRISP-DM aprendidos até o momento em um projeto prático, que busca desenvolver seu pensamento analítico, insights e tomada de decisões.

O que devo fazer? 

Você deve montar um colab bem redigido mostrando o passo a passo das etapas de análise do case, fazendo uma introdução e dados atuais sobre o problema.

Também é importante ressaltar/explicar passagens complexas ou insights que você tiver durante a resolução desse projeto.

# Descrição do projeto

O Projeto de Insight cobre 5 questionamentos basicamente (Que você estabelecer):

* A Questão de Negócio:
  - Qual a minha meta?
  - Como posso chegar?

* O Entendimento do Negócio:
  - Quais dados eu tenho disponível?
  - Eles são relevantes para o problema?
  - Eles me trazem uma solução direta?
  - Qual o meu setor ou range de negócio?

* A Coleta de Dados:
  - Os dados que eu tenho fazem sentido?
  - Estão no formato que eu gostaria?
  - O que mais eu consigo obter de informação destes dados?

* A Limpeza de Dados:
  - Remoção de dados outliers e valores ausentes
  - Data
  
* A Exploração de Dados:
  - Visualização dos dados
  - Quais as minhas métricas essenciais
  - Baseado nos dados, qual imóvel ou tipo de imóveis eu deveria comprar.


Baseado nestes pensamentos que você utilizou para responder as perguntas acima, qual seria os 5 imóveis que você compraria e o porquê e quais 5 você não compraria de jeito nenhum.

# Dicas de insights:
- Encontre a cidade de cada imóvel
- Calcule o preço por área de imóvel
- Calcule o lucro/ perda de investimento caso o imóvel seja vendido mais de uma vez naquele período.

# King County - Condado de King - Washington
O Condado de King é um dos 39 condados do estado americano de Washington. A sede e cidade mais populosa do condado é Seattle. Foi fundado em 1852. Com mais de 2,2 milhões de habitantes, de acordo com o censo nacional de 2020, é o condado mais populoso do estado e o 12º mais populoso do país. [Wikipédia](https://pt.wikipedia.org/wiki/Condado_de_King_(Washington))

O Datset apresenta a venda de imóveis e suas características na região de Maio de 2014 à Maio de 2015. Tem um totoal de 21613 registros com um total de 21 atributos. 

Dataset: https://www.kaggle.com/harlfoxem/housesalesprediction

Dataset detalhado: https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/

Variável | Descrição
--- | ---
id	| Identificador único do imóvel
date	| Data da Venda
price	| Preço de venda
bedrooms	| Nº de Quartos
bathrooms	| Nº de Banheiros
sqft_liv	| Tamanho de área habitável em ft²
sqft_lot	| Tamanho do terreno em ft²
floors	| Número de andares
waterfront	| Indicativo se o imóvel é a beira-mar
view	| Grau de quão belo é a vista do imóvel (0 a 4)
condition	| Condição da casa (1 a 5) 
grade	| Classificação por qualidade de material utilizado na construção
sqft_above	| Área em acima do solo em ft²
sqft_basmt	|  Área em abaixo do solo em ft²
yr_built	| Ano de construção
yr_renov	| Ano de restauração, caso o contrário, 0.
zipcode	| Zip Code 5 - Similar ao CEP
lat	| Latitude
long	| Longitude
squft_liv15	| Média da área habitável dos 15 imóveis mais próximos, em ft²
squft_lot15	| Média da área habitável dos 15 imóveis mais próximos, em ft²

# 0.0 Bibliotecas utilizadas

In [21]:
# Importação
import pandas as pd

## 0.1 Funções auxiliares

In [22]:
def personal_settings():
    
    pd.set_option('display.float_format', '{:.2f}'.format)

# 1.0 Descrição dos dados

## 1.1 Importação dos dados

In [23]:
URL = "https://drive.google.com/file/d/1mzl0FMFGz8ye9KqDLHev4weeB5vWzJII/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+URL.split("/")[-2]
df = pd.read_csv(path)

In [24]:
# Verificar as cinco primeiras linhas
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [25]:
# Verificar as cinco últimas linhas
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

## 1.2 Renomear colunas

In [26]:
print(df.columns)

df = df.rename(columns={'price': 'buying_price'})

df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

Index(['id', 'date', 'buying_price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 1.3 Dimensão dos dados

In [31]:
print(df.shape[0], 'Linhas')
print(df.shape[1], 'Colunas')

21613 Linhas
21 Colunas

## 1.4 Tipos de dados

In [32]:
description = []

for i in df.columns:
    description.append([
        i,
        df[i].dtypes,
        df[i].nunique(),
        df[i].drop_duplicates().sample(2).values
    ])

pd.DataFrame(data=description, columns=['attributes', 'dtypes', 'nunique', 'sample'])

,attributes,dtypes,nunique,sample
0,id,int64,21436,"[2193300620, 1217000270]"
1,date,datetime64[ns],372,"[2014-10-27T00:00:00.000000000, 2015-05-06T00:..."
2,buying_price,float64,4028,"[413450.0, 1411600.0]"
3,bedrooms,int64,13,"[3, 0]"
4,bathrooms,float64,30,"[3.25, 0.75]"
5,sqft_living,int64,1038,"[3361, 1894]"
6,sqft_lot,int64,9782,"[955, 10888]"
7,floors,float64,6,"[1.0, 3.0]"
8,waterfront,int64,2,"[1, 0]"
9,view,int64,5,"[4, 1]"
10,condition,int64,5,"[1, 5]"
11,grade,int64,12,"[5, 7]"
12,sqft_above,int64,946,"[2701, 2708]"
13,sqft_basement,int64,306,"[1600, 80]"
14,yr_built,int64,116,"[2014, 1942]"
15,yr_renovated,int64,70,"[1969, 1973]"
16,zipcode,int64,70,"[98166, 98168]"
17,lat,float64,5034,"[47.3652, 47.7309]"
18,long,float64,752,"[-121.804, -121.884]"
19,sqft_living15,int64,777,"[1140, 1680]"
20,sqft_lot15,int64,8689,"[887, 1620]"

## 1.5 Métricas estatísticas  inicias

In [28]:
df.describe()

,id,buying_price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# 2.0 Limpeza, Formatação e enriquecimento dos dados

## 2.1 Identificando valores ausentes

In [33]:
description = []
for i in df.columns:
    description.append([
        i,
        df[i].isna().sum(),
        round((df[i].isna().sum()/len(df))*100)
    ])

pd.DataFrame(data=description, columns=['attributes','null', '%null'])

       attributes  null  %null
0              id     0      0
1            date     0      0
2    buying_price     0      0
3        bedrooms     0      0
4       bathrooms     0      0
5     sqft_living     0      0
6        sqft_lot     0      0
7          floors     0      0
8      waterfront     0      0
9            view     0      0
10      condition     0      0
11          grade     0      0
12     sqft_above     0      0
13  sqft_basement     0      0
14       yr_built     0      0
15   yr_renovated     0      0
16        zipcode     0      0
17            lat     0      0
18           long     0      0
19  sqft_living15     0      0
20     sqft_lot15     0      0

## 2.2 Alterar tipo de dados

In [34]:
# Transformação em "Date" de OBJECT > DATE
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

## checking 'date' type
display(df[['date']].head())
display(df[['date']].dtypes)

        date
0 2014-10-13
1 2014-12-09
2 2015-02-25
3 2014-12-09
4 2015-02-18

date    datetime64[ns]
dtype: object